<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/icons/favicon-16x16.png">
    <link rel="manifest" href="assets/icons/site.webmanifest">
    <link rel="shortcut icon" href="assets/icons/favicon.ico">
    <title>{{ site.title }}</title>
    {{ site.head }}
</head>
<body>
    <div style="text-align: center; margin: 20px 0;">
        <a href="/" style="text-decoration: none; font-size: 24px; font-weight: bold; color: #007BFF;">Cloud-Freedom</a>
    </div>
    {{ content }}
</body>
</html>
